
<!doctype html>
<html lang ="en">
<head>
	<meta charset="utf-8">
	<title>Sri Maruthi Pharma</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css"> 
  {% load static %}
  <link rel="stylesheet"  href="{%  static 'layout.css' %} ">
</head>
<header>
	<h1>&nbsp;&nbsp;SMP</h1>
  
  <nav id="mainnav">
    <div class="nav-links">
    <ul class="links">
      <li><a href="{% url 'self' %}">HOME</a></li> 
      <li><a href="{% url 'about' %}">ABOUT</a></li>
      <li><a href="{% url 'index' %}">CONTACT</a></li>

      
    </ul>
  </div>
  </nav>
 
</header>

<div class="wrapper bgded overlay">
   <div id="pageintro" class="hoc clear"> 
    <article>
      <h2 class="heading">Sri Maruthi Pharma</h2>
      <p>One of the leading businesses in Surgical Equipment Dealers in Bangalore</p>
    </article>
  </div>
</div>
</body>



<div class="wrapper row3">
  <div class="hoc container clear center"> 
    <article>
      <h2 class="heading font-x3">Sri Maruthi Pharma<br>
        Chamrajpet, Bangalore</h2>
      <q class="btmspace-50">Sri Maruthi Pharma in Bangalore is one of the leading businesses in Surgical
        Equipment Dealers. Also known for Surgical Equipment Dealers, Pharmaceutical
        Product Distributors, Medical Equipment Dealers, Pharmaceutical Distributors,
        Surgical Item Dealers, Medicine Distributors, Medical Product Dealers, Generic
        Medicine Wholesalers and much more.</q>
      <p class="btmspace-50"><a class="btn" href="{% url 'about' %}">About Us >></a></p>
      <footer class="font-xs">** Meets the best safety <br>
        and quality standards</footer>
    </article>
  </div>
</div>



<div class="wrapper">
    <section id="latest" class="container clear"> 
      <div class="center btmspace-80">
        <h3 class="font-x2 nospace">We are dealers in . .</h3>
      </div>
      <ul class="nospace group">
        <li>
          <figure class="txtoverlay"><a href="#">
            {% load static %}
            <img src="{% static 'images/CH2.jpg' %}" alt="My image"></a>
            <figcaption class="txtcaption">
              <h6 class="heading">Chemists</h6>
              <p>we sell medicinal drugs that are dispensed and sold, in which toiletries and other medical goods can be purchased.</p>
              <footer><a href="#">View Details &raquo;</a></footer>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="txtoverlay"><a href="#">
            {% load static %}
            <img src="{% static 'images/SED2.jpg' %}" alt=""></a>
            <figcaption class="txtcaption">
              <h6 class="heading">Surgical Equipment Dealers</h6>
              <p>You can meet your requirements of surgical equipment by visiting our surgical equipment dealers who offer many benefits</p>
              <footer><a href="#">View Details &raquo;</a></footer>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="txtoverlay"><a href="#">
            {% load static %}
            <img src="{% static 'images/PPD2.jpg' %}" alt=""></a>
            <figcaption class="txtcaption">
              <h6 class="heading">Pharmaceutical Product Distributors</h6>
              <p><br>pharmaceutical product distributors - wholesale (just include the word wholesale)</p>
              <footer><a href="#">View Details &raquo;</a></footer>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="txtoverlay"><a href="#">{% load static %}<img src="{% static 'images/MED.jpg' %}" alt=""></a>
            <figcaption class="txtcaption">
              <h6 class="heading">Medical Equipment Dealers</h6>
              <p>Goods including surgical tools and instruments to medical and dental instruments can be found at our dealership stores.</p>
              <footer><a href="#">View Details &raquo;</a></footer>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="txtoverlay"><a href="#">{% load static %}<img src="{% static 'images/PD.jpg' %}" alt=""></a>
            <figcaption class="txtcaption">
              <h6 class="heading">Pharmaceutical Distributors</h6>
              <p>we act as a intermediary between the pharmaceutical industry and our customers.</p>
              <footer><a href="#">View Details &raquo;</a></footer>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="txtoverlay"><a href="#">{% load static %}<img src="{% static 'images/PPM.jpg' %}" alt=""></a>
            <figcaption class="txtcaption">
              <h6 class="heading">Pharmaceutical Product Manufacturers</h6>
              <p><br>As a pharmaceutical company, or drug company, is a commercial business licensed to research, develop, market and/or distribute drugs, most commonly in the context of healthcare.</p>
              <footer><a href="#">View Details &raquo;</a></footer>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="txtoverlay"><a href="#">{% load static %}<img src="{% static 'images/MW.jpg' %}" alt=""></a>
            <figcaption class="txtcaption">
              <h6 class="heading">Medicine Wholesalers</h6>
              <p>As a medicine wholesaler you can buy products directly from us in large quantities and lesser price.</p>
              <footer><a href="#">View Details &raquo;</a></footer>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="txtoverlay"><a href="#">{% load static %}<img src="{% static 'images/Surgical.jpg' %}" alt=""></a>
            <figcaption class="txtcaption">
              <h6 class="heading">Surgical Face Mask Dealers</h6>
              <p>A disposable non-woven face mask, 3 ply non-woven face mask or a disposable ear-loop face mask, wearing any of these works like a protective shield.</p>
              <footer><a href="#">View Details &raquo;</a></footer>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="txtoverlay"><a href="#">{% load static %}<img src="{% static 'images/n95.jpg' %}" alt=""></a>
            <figcaption class="txtcaption">
              <h6 class="heading">N95 Face Mask Dealers</h6>
              <p>Wholesale price for N95 mask used to Protect Against Airborne Diseases like Covid-19, H1N1, Drug Resistant Tuberculosis, Sars, & Influenza</p>
              <footer><a href="#">View Details &raquo;</a></footer>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="txtoverlay"><a href="#">{% load static %}<img src="{% static 'images/MD.jpg' %}" alt=""></a>
            <figcaption class="txtcaption">
              <h6 class="heading">Medicine Distributors</h6>
              <p>As a medicine distributor you can buy products directly from us in large quantities and lesser price.</p>
              <footer><a href="#">View Details &raquo;</a></footer>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="txtoverlay"><a href="#">{% load static %}<img src="{% static 'images/GMD.jpg' %}" alt=""></a>
            <figcaption class="txtcaption">
              <h6 class="heading">Generic Medicine Distributors </h6>
              <p><br>we distribute generic drug which is a medication created to be the same as an existing approved brand-name with same features.</p>
              <footer><a href="#">View Details &raquo;</a></footer>
            </figcaption>
          </figure>
        </li>
        <li>
          <figure class="txtoverlay"><a href="#">{% load static %}<img src="{% static 'images/PPW.jpg' %}" alt=""></a>
            <figcaption class="txtcaption">
              <h6 class="heading">Pharmaceutical Product Wholesalers<br></h6>
              <p> <br>we function as pharmaceutical wholesalers intermediary between the pharmaceutical industry and our customers by purchasing and distributing medicines.</p>
              <footer><a href="#">And much more &raquo;</a></footer>
            </figcaption>
          </figure>
        </li>
      </ul>
    </section>
  </div>

<div class="chat">
  {% load static %}
  <img id="chaticon" src="{% static 'images/wp.jpg' %}" ><p>+91 385 739 7474</p>
</div>


<section>
<footer>
<p><br></p>
<p id="contact" class="btmspace-50" style="text-align:center"><a class="btn" href="{% url 'index' %}">Contact us >></a></p>
</footer>
</section>
<section class="footer">
  
 
  <div class="icons">
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-linkedin-in"></i>
  </div>
  <p>
      Copyright <i class="far fa-copyright"></i>2021 - All Rights Reserved</p>
</section>

</section>
</html>
{% load static %}
<style>
 
.bgded{
  background-image: repeating-linear-gradient(200deg, #000428 20%, #004e92 80%);

}
 figcaption .heading{
  color:rgb(239 255 108 / 87%);
  }
#contact{
  padding:20px;
  margin-top:20px;
}
.footer{
  text-align: center;
}
.btn{
  background-color: rgb(57 93 136);
}
.chat{
  position: sticky;
  bottom:30px;
  padding-right:10px;
  padding-top: 20px;
  align-items: right;
  text-align:right;
  z-index:1000;
}
.chat p{
  margin-top: 0px;
}
#chaticon{
  border-radius: 30%;
  border-bottom-left-radius: 0px;
  margin-bottom: 0px;
  background-color: rgb(12, 218, 12);
  width:4%;
}

nav{
    font-style:italic;
    display: flex;
    padding: 0px 0px 10px 0px;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;

}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 20px 10px 20px;
    position:relative;
}
.nav-links ul li a{
    color:#fff;
    text-shadow: 0 0 3px rgb(255, 255, 255);
    letter-spacing: 0.8px;
    text-decoration: none;
    font-size: 14px;
    
    font-family: 'Poppins', sans-serif;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(57 93 136);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width:100%;
}
.trial{
  display: fixed;
  top: 100px;
  right: 60px;
  width: 100%;
  height: 100vh;
}
.article p{
  z-index: 300;
}

</style>